*{
    margin: 0;
    padding: 0;
}


a {
    text-decoration: none;
    color: white;
}

img {
    max-width: 100%;
}




/* PANTALLAS CHICAS*/
.container-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

/*TABLETS*/
@media (min-width: 768px) {
    .container-cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;}
    }

    /*Grandes*/
@media (min-width: 992px) {
    .container-cards {
        grid-template-columns: repeat(3, 1fr)
    }
}
.card {
    max-width: 100%;
    background-color: rgb(20, 1, 1);
    color: rgb(130, 228, 228);
} 

    


/*Para poder dejar a las cards con el mismo alto*/
.card-img-top {
    height: 300px;
}





/*Confi cards precios*/
.empresa, .hogar {
    display: none;
}
#empresas, #hogares, #todos {
    display: none;
}


#empresas:checked ~ .container-cards .empresa {
    display: flex;
}

#hogares:checked ~ .container-cards .hogar {
    display: flex;
}

#todos:checked ~ .container-cards .empresa {
    display: flex;
}
#todos:checked ~ .container-cards .hogar {
    display: flex;
}



.container-opciones {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    
}

@media (min-width: 560px) {
    .container-opciones{
        flex-direction: row;
    }
}

.container-opciones label { 
    border: solid 1px;
    padding: 8px 15px;
    width: 150px;
    text-align: center;
    cursor: pointer;
}

.container-opciones label:hover {
    background-color: #85920b;
    border: none;
}

.arriba {
display: grid;
justify-content: end;
}



/*CON SASS*/
body{
    font-size: $fuente-principal;
    background-color: $color-primario;
    }

        .nav-link  {
            color: $color-secundario;
        
            &:hover{
                color: yellow
            }
        }

        .navbar-toggler {
            background-color: $color-terciario;
        }

        .carousel-item img {
            height: 250px;
        }

        @media (min-width: $tablet) {
            .carousel-item img {
                height: 70vh;
            }
        }

        @media (min-width: desktop) {
            .carousel-item img {
                height: 80vh;
            }
        }

        @media (min-width: desktopXG) {
            .carousel-item img {
                height: 90vh;
            }
        }

        h1, h3 {
            color: white;
            text-align: center;
            margin-top: $espaciado-general * 2;
        }

        p{
            text-align: center;
            font-size: $fuente-media;
            color: white;
        }

        footer {
            margin-top: $espaciado-general * 4;
            @include flex-columna;

            .container-redes a {
                color: $color-terciario;
                text-decoration: none;
                font-size: $icono;
            }

        }

       


    